<div class='nav-bar'>
    <a href="#!/dashboard">Home</a> | <a href="#!/question/{{question._id}}/new_answer">Answer this Question</a> | <a href="/">Logout</a>
</div>
<h1 style="font-weight: bold;">{{ question.question }}</h1>
<h3>{{ question.description }}</h3>
<hr style="margin: 20px 0px;">
<h2>Answers:</h2>
<table>
    <tr ng-repeat="answer in answers | orderBy: 'answer.likes' track by $index">
        <td>
            <p>{{ answer.user }}:</p>
            <p style="font-weight: bold;">{{ answer.answer }}</p>
            <p>{{ answer.details }}</p>
        </td>
        <td>
            <p>{{ answer.likes }} likes  <button class="button">Like!</button></p>
        </td>
    </tr>
</table>
